{% extends "master.html.twig" %}
{% block title %}Child Attenance List{% endblock %}
{% block content %}
<h3>Attendance Form</h3>
Date: {{today}}<br>
           <form  method = "post" enctype="multipart/form-data">
                   <input type="text" hidden name="id"  value="{{child.id}}"><br/>
                  First Name: <input type="text" name="firstName" value="{{child.firstName}}"><br/>
                  Last Name: <input type="text" name="lastName" value="{{child.lastName}}"><br>
                  Start Time:<input type="time" name="startTime" min="00:00:00" max="23:59:59"><br>
                  Leave Time:<input type="time" name="endTime" min="00:00:00" max="23:59:59"><br>
                  Staus: <select name="status"><br>
               <option value="present">Present</option>
                <option value="absent">Absent</option>
            </select><br/>
                 Notes: <textarea name="note"></textarea><br>
                 <input type="submit" value="submit">
                </form>
            
       <br><br>


{% endblock content %}