{% extends "master.html.twig" %}

{% block content %}

<h2>Educator Board</h2>
<p><a href="/logout">Logout</a></p>
<a href="/educator/childlist">Children list (Group class)</a><br>
<a href="/educator/child_attendance_detail">Children Attenance Detail</a><br>

<a href="/educator/childnotes_detail">Children Notes Detail</a><br>

{% endblock content %}