<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script> tinymce.init({ selector: 'textarea[name=content]'  });  </script>
    <link rel="shortcut icon" href="/images/daycare.png"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>{% block title %}{% endblock %} - ABC Daycare</title>
        {% block addHead %}
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">
        <h1>Admin interface</h1>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>