{% extends "master.html.twig" %}

{% block content %}

<p>Thank you for your interested.Your child has already in our waiting list. <a href="/parent_board">Go back to main page</a>. </p>

{% endblock %}