{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="header">
    	<div class="logoBlock"><a href="index.html" class="logo"><img src="images/logo.png" alt=""></a></div>
        <div id="navigation">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">Curriculum</a></li>
                <li><a href="/">Classrooms</a></li>
                <li><a href="nutrition.html">Nutrition</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>




{% endblock content %}